<% set_title('Confirmed Holidays') -%>
<% div_block do -%>
<% if @confirmed.size > 0 -%>
  <p>You have <%= pluralize(@confirmed.size, 'confirmed holiday') -%>:</p>
<% for holiday in @confirmed do -%>
  <p class="holidays-status">
    <%= format_date(holiday.start_date) -%> - <%= format_date(holiday.end_date) -%> (<%= holiday.total_days -%> working days)
    <%= link_to('show', holiday_path(holiday)) -%>
    <%= link_to('delete', holiday_path(holiday), :method => :delete, :confirm => 'Are you sure you want to delete this holiday?') -%>
  </p>
<% end -%>
<% else -%>
  <p>You do not currently have any confirmed holidays.</p>
<% end -%>
<% end -%>
<% if @confirmed.size > 0 -%>
<% div_block do -%>
  <p>You cannot edit a confirmed holiday. If you need to make changes then please delete the holiday and submit a new holiday.</p>
<% end -%>
<% end -%>
