<% set_title('Taken Holidays') -%>
<% div_block do -%>
<% if @taken.size > 0 -%>
  <p>You have taken <%= pluralize(@taken.size, 'holiday') -%>:</p>
<% for holiday in @taken do -%>
  <p class="holidays-status">
    <%= format_date(holiday.start_date) -%> - <%= format_date(holiday.end_date) -%> (<%= holiday.total_days -%> working days)
    <%= link_to('show', holiday_path(holiday)) -%>
  </p>
<% end -%>
<% else -%>
  <p>You have not taken any holidays yet.</p>
<% end -%>
<% end -%>
