<% set_title('Department Holidays') -%>
<% div_block do -%>
  <%= print_flash(flash[:error], 'error', 'Unable to update their holiday') -%>
<%= render :partial => 'department_gantt' -%>

  <div id="gantt-sidebar">
    <div class="gantt-sidebar-content">
      <h2>Confirm Holiday</h2>
      <p>Start: <%= format_date(@holiday.start_date) -%></p>
      <p>End: <%= format_date(@holiday.end_date) -%></p>
      <p>Total days: <%= @holiday.total_days -%></p>
      <p>Reason: <%= @holiday.reason -%></p>
      <% form_for(@holiday, :url => department_path(@holiday)) do |f| -%>
      <div><%= f.radio_button(:rejected, 'f') -%> <label for="holiday_rejected_f">confirm</label></div>
      <div><%= f.radio_button(:rejected, 't') -%> <label for="holiday_rejected_t">reject</label></div>
      <div class="holiday-rejected-reason"><label for="holiday_rejected_reason">Why?</label></div>
      <div class="holiday-rejected-reason"><%= f.text_area(:rejected_reason, :cols => 20, :rows => 5) -%></div>
      <div><%= f.submit('Submit', :class => 'holiday-submit') -%></div>
      <% end -%>
    </div>
  </div>
<% end -%>
