<% set_title('Department Holidays') -%>

<% div_block do -%>
  <% for user in @users do
     unconfirmed = user.holidays.unconfirmed.after(@current_date)
     confirmed = user.holidays.confirmed.after(@current_date)
  -%>
  <p><%= user.fullname -%></p>
    <% if unconfirmed.size == 0 && confirmed.size == 0 -%>
  <p class="holidays-status">No upcoming holidays.</p>
    <% else -%>
      <% if unconfirmed.size > 0 -%>
        <% for holiday in unconfirmed do -%>
  <p class="holidays-status">
    PENDING: 
    <%= format_date(holiday.start_date) -%> - <%= format_date(holiday.end_date) -%> (<%= holiday.total_days -%> working days)
    <%= link_to('show', edit_department_path(holiday)) -%>
  </p>
        <% end -%>
      <% end -%>
      <% if confirmed.size > 0 -%>
        <% for holiday in confirmed do -%>
  <p class="holidays-status">
    CONFIRMED: 
    <%= format_date(holiday.start_date) -%> - <%= format_date(holiday.end_date) -%> (<%= holiday.total_days -%> working days)
    <%= link_to('show', department_path(holiday)) -%>
  </p>
        <% end -%>
      <% end -%>
    <% end -%>
  <% end -%>
<% end -%>
