<% set_title('Admin - Users') -%>

<% div_block do -%>
  <p>Total users: <%= @users.total_entries -%> (displaying <%= ((@users.current_page - 1) * @users.per_page) + 1 -%> to <%= (((@users.current_page - 1) * @users.per_page)) + @users.size -%>)</p>
  <table id="users">
    <tr>
      <th><%= sort_link('Username') -%></th>
      <th><%= sort_link('Firstname') -%></th>
      <th><%= sort_link('Surname') -%></th>
      <th><%= sort_link('Department') -%></th>
      <th><%= sort_link('Head') -%></th>
      <th>Roles</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
<% for user in @users do -%>
    <tr>
      <td><%= user.username -%></td>
      <td><%= user.firstname -%></td>
      <td><%= user.surname -%></td>
      <td><%= user.department.name if user.department -%></td>
      <td class="image"><%= head_image(user.head) -%></td>
      <td><%= print_roles(user.roles) -%></td>
      <td class="image"><%= link_to image_tag('/images/edit.gif'), edit_admin_user_path(user) -%></td>
      <td class="image"><%= link_to image_tag('/images/delete.gif'), admin_user_path(user),
        :confirm => 'Are you sure you want to delete this user?', :method => :delete -%></td>
    </tr>
<% end -%>
  </table>
  <%= will_paginate(@users) -%>
<% end -%>
