<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
<%= stylesheet_link_tag('main', 'menu') -%>
<%= stylesheet_link_tag(@extra_stylesheets) if @extra_stylesheets -%>
<%= javascript_include_tag('jquery') -%>
<%= javascript_include_tag(@extra_javascripts) if @extra_javascripts -%>
  <title>Holidays</title>
  <%= menu_extra(@activemenuitem) if @activemenuitem and !@activemenuitem.blank? -%>
</head>

<body>
<div id="page">
  <div id="header"></div>
  <%= render :partial => 'shared/menu' -%>
  <div id="content">
    <h2><%= @title -%></h2>
    <%= yield %>
    <div class="clear"></div>
  </div>
  <div id="footer">&copy; Stickiweb Software <%#= year_range(2007) -%></div>
</div>

</body>

</html>
